@{
    ViewData["Title"] = "Register";
}
<div class="text-center">
    <h2 class="display-4">Регистрация</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Логин:</div>
        <div class="col-8"><input type="text" name="login" /></div>
    </div>
    <div class="row">
        <div class="col-4">Пароль:</div>
        <div class="col-8"><input type="password" name="password" /></div>
    </div>
    <div class="row">
        <div class="col-4">ФИО:</div>
        <div class="col-8"><input type="text" name="fio" /></div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Регистрация" class="btn btnprimary" /></div>
    </div>
</form>
